USE [master]
GO
/****** Object:  Database [simex2]    Script Date: 16/03/2026 16:34:39 ******/
CREATE DATABASE [simex2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'simex2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\simex2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'simex2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\simex2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [simex2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [simex2]
GO
/****** Object:  Table [dbo].[ciutats]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciutats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[pais_id] [int] NOT NULL,
 CONSTRAINT [PK_ciutats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[email] [varchar](150) NULL,
	[telefono] [varchar](20) NULL,
	[fecha_registro] [datetime] NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dni]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dni](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dni] [nchar](10) NOT NULL,
	[name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_dni] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom_fitxer] [varchar](255) NOT NULL,
	[nom_original] [varchar](255) NOT NULL,
	[tipus_document] [int] NULL,
	[ruta_fitxer] [varchar](500) NOT NULL,
	[mida] [bigint] NULL,
	[oferta_id] [int] NULL,
	[operacio_id] [int] NULL,
	[pujat_per] [int] NOT NULL,
	[data_pujada] [datetime] NOT NULL,
 CONSTRAINT [PK_documents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estats_ofertes]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estats_ofertes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estat] [varchar](50) NOT NULL,
 CONSTRAINT [PK_estats_ofertes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estats_operacions]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estats_operacions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estat] [varchar](50) NOT NULL,
 CONSTRAINT [PK_estats_operacions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incoterms]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incoterms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus_inconterm_id] [int] NOT NULL,
	[tracking_steps_id] [int] NOT NULL,
 CONSTRAINT [PK_incoterms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[id] [int] NOT NULL,
	[incoterm_id] [int] NOT NULL,
	[solicitud_id] [int] NOT NULL,
	[date_update] [date] NOT NULL,
 CONSTRAINT [PK_notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ofertes]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ofertes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data_creacio] [date] NOT NULL,
	[data_validessa_inicial] [date] NOT NULL,
	[data_validessa_final] [date] NOT NULL,
	[moneda] [varchar](3) NOT NULL,
	[clients_id] [int] NOT NULL,
	[pressupost] [float] NOT NULL,
	[comentaris] [varchar](255) NULL,
	[estat_oferta_id] [int] NOT NULL,
	[solicitud_id] [int] NOT NULL,
	[deny_reason] [varchar](255) NOT NULL,
	[document_id] [int] NULL,
 CONSTRAINT [PK_ofertes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operacions]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operacions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[oferta_id] [int] NOT NULL,
	[codi_referencia] [varchar](20) NOT NULL,
	[estat_operacio_id] [int] NOT NULL,
	[operador_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[data_inici] [date] NULL,
	[data_finalitzacio] [date] NULL,
	[observacions] [varchar](255) NULL,
	[id_stat] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_operacions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paissos]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paissos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_paissos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peticions_registre]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peticions_registre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom_empresa] [varchar](100) NOT NULL,
	[contacte] [varchar](100) NOT NULL,
	[correu] [varchar](100) NOT NULL,
	[telefon] [varchar](20) NULL,
	[missatge] [varchar](500) NULL,
	[estat] [varchar](20) NOT NULL,
	[rao_rebuig] [varchar](255) NULL,
	[data_creacio] [datetime] NOT NULL,
	[data_resolucio] [datetime] NULL,
	[resolt_per] [int] NULL,
 CONSTRAINT [PK_peticions_registre] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ports]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[ciutat_id] [int] NOT NULL,
 CONSTRAINT [PK_ports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rols]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rols](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_rols] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitud]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitud](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus_transport_id] [int] NOT NULL,
	[tipus_fluxe_id] [int] NOT NULL,
	[tipus_carrega_id] [int] NOT NULL,
	[incoterm_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[comentaris] [varchar](255) NULL,
	[transportista_id] [int] NULL,
	[pes_brut] [numeric](18, 2) NULL,
	[volum] [numeric](18, 2) NULL,
	[tipus_validacio_id] [int] NOT NULL,
	[port_origen_id] [int] NULL,
	[port_desti_id] [int] NULL,
	[estat_oferta_id] [int] NOT NULL,
	[operador_id] [int] NOT NULL,
	[data_creacio] [date] NOT NULL,
	[tipus_contenidor_id] [int] NULL,
 CONSTRAINT [PK_solicitud] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_documento]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tipo_documento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_carrega]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_carrega](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_carrega] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_contenidors]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_contenidors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_contenidors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_fluxes]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_fluxes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_fluxes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_incoterms]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_incoterms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codi] [char](5) NULL,
	[nom] [varchar](50) NULL,
 CONSTRAINT [PK_tipus_incoterms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_transports]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_transports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_transports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_validacions]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_validacions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_validacions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tracking_steps]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tracking_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ordre] [int] NULL,
	[nom] [varchar](50) NULL,
 CONSTRAINT [PK_tracking_steps] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transportistes]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transportistes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[ciutat_id] [int] NOT NULL,
 CONSTRAINT [PK_transportistes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuaris]    Script Date: 16/03/2026 16:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuaris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[correu] [varchar](50) NOT NULL,
	[contrasenya] [varchar](256) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[cognoms] [varchar](50) NOT NULL,
	[id_dni] [int] NULL,
	[rol_id] [int] NOT NULL,
 CONSTRAINT [PK_usuaris] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DF_documents_data_pujada]  DEFAULT (getdate()) FOR [data_pujada]
GO
ALTER TABLE [dbo].[peticions_registre] ADD  CONSTRAINT [DF_peticions_registre_estat]  DEFAULT ('pendent') FOR [estat]
GO
ALTER TABLE [dbo].[peticions_registre] ADD  CONSTRAINT [DF_peticions_registre_data_creacio]  DEFAULT (getdate()) FOR [data_creacio]
GO
ALTER TABLE [dbo].[ciutats]  WITH CHECK ADD  CONSTRAINT [FK_ciutats_paissos] FOREIGN KEY([pais_id])
REFERENCES [dbo].[paissos] ([id])
GO
ALTER TABLE [dbo].[ciutats] CHECK CONSTRAINT [FK_ciutats_paissos]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_ofertes] FOREIGN KEY([oferta_id])
REFERENCES [dbo].[ofertes] ([id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_ofertes]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_operacions] FOREIGN KEY([operacio_id])
REFERENCES [dbo].[operacions] ([id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_operacions]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_tipo_documento] FOREIGN KEY([tipus_document])
REFERENCES [dbo].[tipo_documento] ([id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_tipo_documento]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_usuaris] FOREIGN KEY([pujat_per])
REFERENCES [dbo].[usuaris] ([id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_usuaris]
GO
ALTER TABLE [dbo].[incoterms]  WITH CHECK ADD  CONSTRAINT [FK_incoterms_tipus_incoterms] FOREIGN KEY([tipus_inconterm_id])
REFERENCES [dbo].[tipus_incoterms] ([id])
GO
ALTER TABLE [dbo].[incoterms] CHECK CONSTRAINT [FK_incoterms_tipus_incoterms]
GO
ALTER TABLE [dbo].[incoterms]  WITH CHECK ADD  CONSTRAINT [FK_incoterms_tracking_steps] FOREIGN KEY([tracking_steps_id])
REFERENCES [dbo].[tracking_steps] ([id])
GO
ALTER TABLE [dbo].[incoterms] CHECK CONSTRAINT [FK_incoterms_tracking_steps]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [FK_notification_incoterms] FOREIGN KEY([incoterm_id])
REFERENCES [dbo].[incoterms] ([id])
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [FK_notification_incoterms]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [FK_notification_solicitud] FOREIGN KEY([solicitud_id])
REFERENCES [dbo].[solicitud] ([id])
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [FK_notification_solicitud]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_clients] FOREIGN KEY([clients_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_clients]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_estats_ofertes] FOREIGN KEY([estat_oferta_id])
REFERENCES [dbo].[estats_ofertes] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_estats_ofertes]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_solicitud] FOREIGN KEY([solicitud_id])
REFERENCES [dbo].[solicitud] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_solicitud]
GO
ALTER TABLE [dbo].[operacions]  WITH CHECK ADD  CONSTRAINT [FK_operacions_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[operacions] CHECK CONSTRAINT [FK_operacions_clients]
GO
ALTER TABLE [dbo].[operacions]  WITH CHECK ADD  CONSTRAINT [FK_operacions_estats_operacions] FOREIGN KEY([estat_operacio_id])
REFERENCES [dbo].[estats_operacions] ([id])
GO
ALTER TABLE [dbo].[operacions] CHECK CONSTRAINT [FK_operacions_estats_operacions]
GO
ALTER TABLE [dbo].[operacions]  WITH CHECK ADD  CONSTRAINT [FK_operacions_ofertes] FOREIGN KEY([oferta_id])
REFERENCES [dbo].[ofertes] ([id])
GO
ALTER TABLE [dbo].[operacions] CHECK CONSTRAINT [FK_operacions_ofertes]
GO
ALTER TABLE [dbo].[operacions]  WITH CHECK ADD  CONSTRAINT [FK_operacions_usuaris] FOREIGN KEY([operador_id])
REFERENCES [dbo].[usuaris] ([id])
GO
ALTER TABLE [dbo].[operacions] CHECK CONSTRAINT [FK_operacions_usuaris]
GO
ALTER TABLE [dbo].[peticions_registre]  WITH CHECK ADD  CONSTRAINT [FK_peticions_registre_usuaris] FOREIGN KEY([resolt_per])
REFERENCES [dbo].[usuaris] ([id])
GO
ALTER TABLE [dbo].[peticions_registre] CHECK CONSTRAINT [FK_peticions_registre_usuaris]
GO
ALTER TABLE [dbo].[ports]  WITH CHECK ADD  CONSTRAINT [FK_ports_ciutats] FOREIGN KEY([ciutat_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[ports] CHECK CONSTRAINT [FK_ports_ciutats]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_clients]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_estats_ofertes] FOREIGN KEY([estat_oferta_id])
REFERENCES [dbo].[estats_ofertes] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_estats_ofertes]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_incoterms] FOREIGN KEY([incoterm_id])
REFERENCES [dbo].[incoterms] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_incoterms]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_ports_desti] FOREIGN KEY([port_desti_id])
REFERENCES [dbo].[ports] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_ports_desti]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_ports_origen] FOREIGN KEY([port_origen_id])
REFERENCES [dbo].[ports] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_ports_origen]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipus_carrega] FOREIGN KEY([tipus_carrega_id])
REFERENCES [dbo].[tipus_carrega] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipus_carrega]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipus_contenidors] FOREIGN KEY([tipus_contenidor_id])
REFERENCES [dbo].[tipus_contenidors] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipus_contenidors]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipus_fluxes] FOREIGN KEY([tipus_fluxe_id])
REFERENCES [dbo].[tipus_fluxes] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipus_fluxes]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipus_transports] FOREIGN KEY([tipus_transport_id])
REFERENCES [dbo].[tipus_transports] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipus_transports]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipus_validacions] FOREIGN KEY([tipus_validacio_id])
REFERENCES [dbo].[tipus_validacions] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipus_validacions]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_transportistes] FOREIGN KEY([transportista_id])
REFERENCES [dbo].[transportistes] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_transportistes]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_usuaris] FOREIGN KEY([operador_id])
REFERENCES [dbo].[usuaris] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_usuaris]
GO
ALTER TABLE [dbo].[transportistes]  WITH CHECK ADD  CONSTRAINT [FK_transportistes_ciutats] FOREIGN KEY([ciutat_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[transportistes] CHECK CONSTRAINT [FK_transportistes_ciutats]
GO
ALTER TABLE [dbo].[usuaris]  WITH CHECK ADD  CONSTRAINT [FK_usuaris_dni] FOREIGN KEY([id_dni])
REFERENCES [dbo].[dni] ([id])
GO
ALTER TABLE [dbo].[usuaris] CHECK CONSTRAINT [FK_usuaris_dni]
GO
ALTER TABLE [dbo].[usuaris]  WITH CHECK ADD  CONSTRAINT [FK_usuaris_rols] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rols] ([id])
GO
ALTER TABLE [dbo].[usuaris] CHECK CONSTRAINT [FK_usuaris_rols]
GO
USE [master]
GO
